# Exclude all files outside the intended directory
../*

# Include your project folder
!/idris_website/

# Ignore common system files
.DS_Store
Thumbs.db
desktop.ini
*.log
*.tmp

# Ignore Node modules and other development files
node_modules/
.history/